{% extends 'homepage.html' %}
{% block content %}
<style>
    label{
        color:rgb(214, 28, 90);
        font-size: 40px;
        font-style: italic;
        
}
body{
    background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-255379.jpg&fm=jpg");
        background-size: cover;
}

h1{
    font-style: italic;
    font-size:50px ;
    color: blue;
    text-align: center;
}

</style>
<body>
<form method="POST" action="">
    <h1>Student Login </h1>
        <center>
            <label for="">Username :</label></div>
        <input type="'text" name="username"><br><br>
        <label for="">Password :</label>
        <input name="password" type="password"><br><br>
        <button type="button" class="btn btn-dark">Dark</button>
    </form>

</center>
{% endblock %}
</body>
</html>